.Marco_Principal {
    /*border: 5px solid red;*/
}

.barra_navegacion {
    background-color: black;
    box-shadow: 1px -1px 15px 0px #000000;

}


.Marco_Contenido {
    /*border: 1px solid #4f4f4f;*/
    height: 500px;
    /*box-shadow: 1px -1px 15px 0px #000000;*/
    margin: auto;
    width: 80%;
}

.Paginas_Portafolio a {
    position: relative;
    padding: 15px;
    margin-left:25px ;
    box-shadow: 1px -1px 15px 0px #000000;
    top: 50px;
    width: 50%;
}

.Pagina_Portafolio a:hover{
	background-color: red!important;
}


.Paginas_Portafolio img {
    width: 280px !important;
    height:200px !important;
    border-radius: 10px;
}

a {
    text-decoration: none;
    outline: none;
    color: black;
}

a:hover{
	color: black;
	
}
img:hover{
	transform: scale(1.2);
}

strong,
h1 {
    font-size: 2vw;
    color: #4f4f4f;
}

h3{
	margin-bottom: 10px;
}