@media (max-width: 500px) {
    .barra_navegacion {
        background-color: black;
        box-shadow: 1px -1px 15px 0px #000000;
        color: white !important;
    }

    .barra_navegacion p{
        font-size: 7.5vw;
    }

      .title_portafolio{
        /*border: 6px solid red;*/
        font-size: 7vw;
    }

    .title_nuesto{
        position: relative;
        left: 3%;
        font-size: 6vw;
    }

    .Marco_Principal{
         height: 100%;
    }

    .Marco_Contenido {
        position: relative;
        right: 3%;
        height: 1200px;
        margin: auto;
        width: 100%;
    }

    .Paginas_Portafolio {
        flex-wrap: wrap;
        flex-direction: column !important;
        align-content: center;
    }

    .Paginas_Portafolio a {
        position: relative;
        padding: 15px;
        margin-left: 25px;
        margin-top:25px ;
        box-shadow: 1px -1px 15px 0px #000000;
        top: 50px;
        width: 81%;
        height: 330px;
    }


    .Paginas_Portafolio img {
        width: 80% !important;
        height: 200px !important;
        border-radius: 10px;
    }

    a {
        text-decoration: none;
        outline: none;
        color: black;
    }

    a:hover {
        color: black;

    }

    img:hover {
        transform: scale(1.2);
    }

    strong,
    h1 {
        font-size: 2vw;
        color: #4f4f4f;
    }

    h3 {
        margin-bottom: 10px;
    }
}

@media (min-width: 500px) {
    .barra_navegacion {
        background-color: black;
        box-shadow: 1px -1px 15px 0px #000000;
        color: white !important;
    }

    .barra_navegacion p{
        font-size: 7.5vw;
    }

      .title_portafolio{
        /*border: 6px solid red;*/
        font-size: 7vw;
    }

    .title_nuesto{
        position: relative;
        left: 1%;
        font-size: 6vw;
    }

    .Marco_Principal{
         height: 100%;
    }

    .Marco_Contenido {
        position: relative;
        right: 1.3%;
        height: 1800px;
        margin: auto;
        width: 100%;
    }

    .Paginas_Portafolio {
        flex-wrap: wrap;
        flex-direction: column !important;
        align-content: center;
    }

    .Paginas_Portafolio a {
        position: relative;
        padding: 15px;
        margin-left: 25px;
        margin-top:50px ;
        box-shadow: 1px -1px 15px 0px #000000;
        top: 50px;
        width: 82%;
        height: 480px;
    }


    .Paginas_Portafolio img {
        width: 60% !important;
        height: 300px !important;
        border-radius: 10px;
    }

    a {
        text-decoration: none;
        outline: none;
        color: black;
    }

    a:hover {
        color: black;

    }

    img:hover {
        transform: scale(1.2);
    }

    strong,
    h1 {
        font-size: 2vw;
        color: #4f4f4f;
    }

    h3 {
        margin-bottom: 10px;
    }
}

@media (min-width: 1000px) {
    .barra_navegacion {
        background-color: black;
        box-shadow: 1px -1px 15px 0px #000000;
        color: white !important;
    }

    .barra_navegacion p{
        font-size: 3vw;
    }

      .title_portafolio{
        font-size: 2vw;
    }

    .title_nuesto{
        position: relative;
        left: 1%;
        font-size: 2.5vw;
    }

    .Marco_Principal{
         height: 100%;
    }

    .Marco_Contenido {
        position: relative;
        right: 1.3%;
        height: 1800px;
        margin: auto;
        width: 85%;
    }

    .Paginas_Portafolio {
        flex-wrap: wrap;
        flex-direction: row !important;
        align-content: center;
    }

    .Paginas_Portafolio a {
        position: relative;
        padding: 15px;
        margin-left: 25px;
        margin-top:50px ;
        box-shadow: 1px -1px 15px 0px #000000;
        top: 50px;
        width: 30%;
        height: 400px;
    }


    .Paginas_Portafolio img {
        width: 80% !important;
        height: 230px !important;
        border-radius: 10px;
    }

    a {
        text-decoration: none;
        outline: none;
        color: black;
    }

    a:hover {
        color: black;

    }

    img:hover {
        transform: scale(1.2);
    }

    strong,
    h1 {
        font-size: 2vw;
        color: #4f4f4f;
    }

    h3 {
        margin-bottom: 10px;
    }
}